@import '../../styles/settings.scss';
.container {
    display:flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.title {
    padding: ($base-size * 3) 0;
    text-align: center;
    font-size: ($base-size * 3);
    text-transform: uppercase;
  }