@import '../../styles/settings.scss';

.nav {
    background-color: darken($color-dark, 3%);
    color: $color-light;
  
}
.navlist {
    list-style: none;
    font-size: large;
}
.navlist a {
    text-decoration: none;
    padding: 10px;
    color: $color-light;

}
.container {
    display:flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
.taskicon {
    
    color: $color-light;
    font-size: 24px;
    vertical-align: middle;
    padding-left: 10px;
}

.linkActive {
    color: $color-warning !important;
}